<!DOCTYPE html>
  <meta charset="utf-8">
  <title>study-demo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    .demo {
      height: 100px;
      background-color: #42b983;
    }
  </style>
</head>
<body>
<div id="demo" class="demo" @click.self="divClick">
  <p v-cloak>{{msg}}</p>
  <input type="button" value="button" @click.stop="buttonOnClick"/>
  <a @click.prevent.once="link" href="http://www.baidu.com">去百度</a>
  <br/>
  <h4>{{msg}}</h4>
  <!--实现数据双向绑定，界面元素变化，msg中的值也变化 v-model 只能用在表单元素中
  input(radio text address )
  select  checkbox textarea
  -->
  <input type="text" v-model="msg"/>
  <!--单项绑定，只用来显示-->
  <input type="text" v-bind:value="msg"/>
</div>
<script>
  var _demo = new Vue({
    el: '#demo',
    data: {
      msg: '123'
    },
    methods: {
      buttonOnClick () {
        alert('this is botton')
      },
      divClick () {
        alert('this is div')
      },
      link () {
        console.log('cancle default')
        alert('cancle default')
      }

    }
  })
</script>
</body>
</html>
