<!DOCTYPE html>
<meta charset="utf-8">
<title>study-demo</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
    .top_title {
        height: 30px;
        background-color: #42b983;
    }
</style>
</head>
<body>
<div>

    <div id="div_option">

        <p class="top_title">添加品牌</p>
        <div class="panel-body ">
            <label>
                ID:<input type="text" v-model="id">
            </label>
            <label>
                <!--输入完毕，按回车，自动调用add方法

                https://cn.vuejs.org/v2/guide/events.html#%E6%8C%89%E9%94%AE%E4%BF%AE%E9%A5%B0%E7%AC%A6

                1.全部的按键别名：

                .enter
                .tab
                .delete (捕获“删除”和“退格”键)
                .esc
                .space
                .up
                .down
                .left
                .right

                2.自定义按键修饰符别名:

                可以通过全局 config.keyCodes 对象：
                // 可以使用 `v-on:keyup.f1`
                Vue.config.keyCodes.f1 = 112


                -->
                name <input type="text" v-model="name" @keyup.enter="add">
            </label>
            <input type="button" value="添加" class="btn btn-primay" @click="add">

            <label>搜索：</label>
            <label>
                <input type="text" v-model="keyword">
            </label>
            <!--<input type="button" value="搜索" @click="search">-->
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Ctime</th>
                <th>操作</th>
            </thead>
            <tbody>
            <tr v-for="item in search()" :key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime|dateFormatFilter}}</td>
                <td>
                    <a @click.prevent="del(item.id)" href="">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>

    Vue.filter('dateFormatFilter',function (dateStr) {
        var _dateTime = new Date(dateStr);
        var _y = _dateTime.getFullYear();
        var _m = (_dateTime.getMonth()+1).toString().padStart(2,0);
        var _d = _dateTime.getDate();

        return `${_y}-${_m}-${_d}`;
    });



    var _demo = new Vue({
        el: '#div_option',
        data: {
            id: "",
            name: "",
            keyword:"",
            newList:[],
            list: [
                {id: 1, name: '奔驰', ctime: new Date()},
                {id: 2, name: '宝马', ctime: new Date()},
                {id: 3, name: '奥迪', ctime: new Date()}
            ],
        },
        methods: {
            add() {
                console.log("add method is click")
                var _car = {id: this.id, name: this.name, ctime: new Date()}
                this.list.push(_car)
                this.id = ""
                this.name = ""
            },
            del(id) {


                console.log("del method is click" + id);
                // 实现方法一：
                // this.list.some((item, i) => {
                //         if (item.id == id) {
                //             this.list.splice(i, 1);
                //             return;
                //         }
                //     }
                // )
                //

                // 实现方法二：
                var _index = this.list.findIndex(item=>{
                    if (item.id==id){
                        return true;
                    }
                })
                console.log(_index);
                this.list.splice(_index,1)
            },
            search(){
                var _key = this.keyword;
                //实现方法1
                // console.log(_key);
                // this.list.some((item,i)=>{
                //     if (item.name.indexOf(_key,0)>=0){
                //         this.newList.push(item);
                //     }
                // })
                // this.list = this.newList;

                //实现方法2
                return this.list.filter((item)=>{
                    if (item.name.includes(_key)){
                        return item;
                    }
                })
            }
            //some 可以return true终止
            //forEach 不可以终止
            //filter 过滤得到新数组
            //indexOf 获取字符所在位置
        }
    })
</script>
</body>
</html>
