<!DOCTYPE html>
<meta charset="utf-8">
<title>study-demo</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
    .top_title {
        height: 30px;
        background-color: #42b983;
    }
</style>
</head>
<body>


<div id="div_option">
    <p>过滤器传参</p>
    <p>{{msg|filterKey('xxx','--')}}</p>
    <p>过滤器多次调用</p>
    <p>{{msg|filterKey('xxx','--')|secondFilter}}</p>
    <p>过滤器参数的默认值</p>
    <p>{{msg|filterKey}} </p>

</div>


<script>
    Vue.filter('filterKey',function (msg,arg='default1',arg2='default2') {
        return msg.replace(/0/g,arg+arg2)
    })

    Vue.filter('secondFilter',function (msg) {
        return msg + 'end'
    })
    var _demo = new Vue({
        el: '#div_option',
        data: {

            keyword: "0",
            msg: "13456789009876530892231"

        },
        methods: {

        }
    })
</script>
</body>
</html>
