<!DOCTYPE html>
<meta charset="utf-8">
<title>study-demo</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
    .top_title {
        height: 30px;
        background-color: #42b983;
    }
</style>
</head>
<body>


<div id="div_option">
    <p>过滤器传参</p>
    <p>{{msg|filterKey('xxx','--')}}</p>


</div>
<p>=================================================================</p>
<div id="div-second">
    <p>过滤器传参</p>
    <p>{{msg|filterKey}}</p>

</div>

<script>
    //全局过滤器,所有vm实例都适用
    Vue.filter('filterKey', function (msg, arg = 'default1', arg2 = 'default2') {
        return msg.replace(/0/g, arg + arg2)
    })

    Vue.filter('secondFilter', function (msg) {
        return msg + 'end'
    })

    var _div1 = new Vue({
        el: '#div_option',
        data: {

            keyword: "0",
            msg: "13456789009876530892231"

        },
        methods: {}
    })

    var _div2 = new Vue({
        el: '#div-second',
        data: {

            keyword: "0",
            msg: "13456789009876530892231"

        },
        methods: {},
        filters: {//定义私有过滤器
            'filterKey': function (msg) {
                return msg.replace(/1/g, "C")
            }
        }
    })
</script>
</body>
</html>
