<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义指令</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="divOne">
    <p v-color>{{msg}}</p>
    <p v-color_p="'blue'">{{msg}}</p>

    <input type="text" v-focus/>
</div>
<div id="divTwo">
    <p v-color_prive="'yellow'">{{msg}}</p>
    <p v-font-weight="900">{{msg}}</p>
    <p v-font-size="90">{{msg}}</p>
    <p v-font-size-two="'100px'">{{msg}}</p>
</div>
<script>
    /**
     * Vue.directive 定义全局指令 v-focus
     * 参数：
     * 参数1 ：指令名字 不需要加v-,但调用的时候 必须加v-前缀
     * 参数2 ：一个对象，指令相关的函数，可以在特定的时期，绑定相关操作
     *               一个指令定义对象可以提供如下几个钩子函数 (均为可选)：

     bind：只调用一次，指令第一次绑定到元素时调用。在这里可以进行一次性的初始化设置。
     这时还未插入到dom中

     inserted：只调用一次  被绑定元素插入父节点时调用
     (仅保证父节点存在，但不一定已被插入文档中)。

     update：所在组件的 VNode 更新时调用，但是可能发生在其子 VNode 更新之前。
     指令的值可能发生了改变，也可能没有。
     但是你可以通过比较更新前后的值来忽略不必要的模板更新
     (详细的钩子函数参数见下)。可能被调用多次

     componentUpdated：指令所在组件的 VNode 及其子 VNode 全部更新后调用。

     unbind：只调用一次，指令与元素解绑时调用。
     */
    Vue.directive('focus', {
        bind: function (el) {
            console.log(" this is bind function")
        },
        inserted: function (el) {
            console.log("this is inserted function")
            el.focus()
        }
    })


    Vue.directive('color', {
        bind: function (el) {
            el.style.color = 'red'
        }
    })

    Vue.directive('color_p', {
        bind: function (el, binding) {
            el.style.color = binding.value
        }
    })

    var _divOne = new Vue({
        el: '#divOne',
        data: {
            msg: '自定义指令-文本输入框默认获取焦点'
        }
    })

    var _divTwo = new Vue({
        el: '#divTwo',
        data: {
            msg: '自定义私有指令'
        },
        directives: {
            'color_prive': {
                bind: function (el, binding) {
                    el.style.color = binding.value
                }
            },
            'font-weight': {
                bind: function (el, binding) {
                    el.style.fontWeight = binding.value
                }
            },
            //自定义指令简写方式，相当于bind和updata方法都有了这个方法
            'font-size': function (el, binding) {
                el.style.fontSize = binding.value + 'px'
            },
            'font-size-two': function (el, binding) {
                el.style.fontSize = parseInt(binding.value) + 'px'
            }
        }
    })
</script>
</body>
</html>
