<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue生命周期函数</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="div-one">
    <p>{{msg}}</p>
    <input type="text" v-model:value="msg"/>
</div>
<script>
    var ins = new Vue({
        el:'#div-one',
        data:{
            msg:'vue 生命周期函数演示'
        },
		
        beforeCreate(){

            console.log('before-create:此方法执行的时候 data和methods中的属性和方法都没有执行')
        },
        created(){
            console.log("created:执行到此方法时，data和methods中的属性和方法都可以访问到了")
        },
        beforeMount(){
            console.log('beforeMount:执行到此方法，内存中已经生产了页面模板，但还没有写到页面中')
        },
        mounted(){
            console.log('mounted:将内存中的模板写到页面中，用户已经可以看到页面了，最早操作dom元素，' +
                '要在这个方法中执行。从此就结束了创建阶段，进入了运行阶段')
        },
        beforeUpdate(){
            console.log('元素改变前调用,data 改变，但页面没有刷新')
        },
        updated(){
            console.log('元素改变后调用，页面被刷新为最新')
        },
        beforeDestroy(){
            console.log('进入到销毁阶段，函数和data都可用')
        },
        destroyed(){
            console.log('所有元素都不可用 销毁了')
        }
    })
</script>
</body>
</html>
