<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div id="div-one">
    <a href="" @click.prevent="getRequest">get request</a>
    <br>
    <a href="" @click.prevent="getRequestNew">get request new</a>
    <br>
    <input type="button" value="post request" @click="postRequest "/>
    <br>
    <input type="button" value="jsonp request" @click="jsonpRequest "/>
    <br>
    <p>{{someData}}</p>
</div>
<script>
    var divone = new Vue({
        el: '#div-one',
        data: {
            someData: ''
        },
        methods: {
            getRequest() {
                this.$http.get('https://gank.io/api').then(function (result) {
                    this.someData = result.body;
                    console.log(someData)
                });
            },
            getRequestNew() {
                this.$http.get('https://gank.io/api').then(response => {

                    // get body data
                    var someData = response.body;
                    console.log(someData)

                }, response => {
                    // error callback
                });
            },
            postRequest() {
                this.$http.post('http://automat.joydata.com/VMServer/VMPayTransRefund.jsp', {
                    DeviceID: '123',
                    TransID: '123',
                    total_amount: '1'
                }, {emulateJSON: true}).then(function (response) {



                    // get status
                    response.status;

                    // get status text
                    response.statusText;

                    // get 'Expires' header
                    response.headers.get('Expires');

                    // get body data
                    this.someData = response.body;



                });
            },
            jsonpRequest() {
                this.$http.jsonp('http://automat.joydata.com/VMServer/VMPayTransRefund.jsp',{
                    DeviceID: '123',
                    TransID: '123',
                    total_amount: '1'
                }).then(function (result) {
                    console.log(result)
                    this.someData=result
                })
            }
        }
    })
</script>
</body>
</html>
