<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div id="root">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" v-text="msg"></h3>
        </div>
        <div class="panel-body form-inline">
            ID:
            <input type="text" v-model="id">
            name:
            <input type="text" v-model="name"/>
        </div>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <th>id</th>
        <th>name</th>
        <th>ctime</th>
        <th>opration</th>
        </thead>
        <tbody>
        <tr v-for="item in list" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.ctime}}</td>
            <td><input type="button" value="删除"/></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    new Vue({
        el: '#root',
        data: {
            msg: '品牌管理',
            id: '',
            name: '',
            list: [
                {id: 1, name: '奥迪', ctime: new Date()},
                {id: 2, name: '宝马', ctime: new Date()}

            ]
        }
    })
</script>
</body>
</html>